<%- include('./partials/header', {title: 'Mukti Wijaya Fibretech - Gallery Muktiwijaya Fibretech', position: 'gallery'}) %>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('./assets/img/frp1.jpg'); background-attachment: fixed;">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Gallery</h2>
      <ol>
        <li><a href="/">Beranda</a></li>
        <li>Gallery</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->


<!-- ======= Our Projects Section ======= -->
<section id="projects" class="projects">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Gallery Produck</h2>
        </div>
      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

        <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".panel">Panel</li>
          <li data-filter=".stp">STP</li>
          <li data-filter=".bahan-baku">Bahan Baku</li>
        </ul><!-- End Projects Filters -->

         <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

         <% for(let i = 0; i < data.length; i++){ %>
          <div class="col-lg-4 col-md-6 col-sm-4 portfolio-item <%= data[i].jenis %>">
            <div class="portfolio-content h-100">
              <img src="./assets/img/gallery/<%= data[i].name %>" class="img-fluid" alt="" width="100%" height="100%">
              <div class="portfolio-info">
                <a href="./assets/img/gallery/<%= data[i].name %>" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>
          </div><!-- End Projects Item -->
         <% } %>     
         
      </div>
      
    </div>
  </section><!-- End Our Projects Section -->

<%- include('./partials/footer') %> 